@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-blackitalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-bolditalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-lightitalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-mediumitalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-regularitalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon Text';
    src: url('brandon-text-thinitalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;

}